<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/details-product.css">
    <title>Details</title>
</head>
<body>
    <div class="container">
        <nav>
            <a href="#" class="brand">Shoezz</a>
            <span>todays top picks</span>
            <a href="#">
                <i class="bi bi-cart4"></i> 
            </a>
        </nav>
        <main>
            <div>
                <span>Mens</span>
                <h1 class="title">
                    <span class="titleText">Red Nike Jordan Max Aura 3</span>
                    <span class="titleOverlay"></span>
                </h1>
                <p class="description">Lorem ipsum dolor sit amet</p>
                <div class="thumbs">
                    <img class="thumb-active" src="/assets/images/products/thumbs/shoe1-1/img1.jpg" alt="">
                    <img src="/assets/images/products/thumbs/shoe1-1/img2.jpg" alt="">
                    <img src="/assets/images/products/thumbs/shoe1-1/img3.jpg" alt="">
                    <img src="/assets/images/products/thumbs/shoe1-1/img4.jpg" alt="">
                </div>
            </div>
            <div class="showCase">
                <div>
                    <img src="/assets/images/products/showcase/shoe1-1/img1.png" alt="">
                    <div class="shadow"></div>
                </div>
                

            </div>
            <div class="options">
                <h4>Size</h4>
                <ul class="sizes">
                    <li class="size-active">37</li>
                    <li>38</li>
                    <li>39</li>
                    <li>40</li>
                    <li>41</li>
                </ul>
                <div class="reviews">
                    <h4>Reivews</h4>
                    <ul class="stars">
                        <li>
                            <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                            <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                            <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                            <i class="bi bi-star-fill"></i>
                        </li>
                        <li>
                            <i class="bi bi-star"></i>
                        </li>
                    </ul>
                </div>
                <div class="pricing">
                    <h4>Price</h4>
                    <h4 class="price">$150</h4>
                </div>
                <div class="colors">
                    <h4>Colors</h4>
                    <ul>
                        <li class="color color-active"></li>
                        <li class="color"></li>
                    </ul>
                </div>
            </div>
        </main>
        <section class="bar-bottom">
            <div>
                <a href="#">
                    <i class="bi bi-play"></i>
                    <span>Play Video</span>
                </a>
            </div>
            <div class="controls">
                <div class="arrows">
                    <span class="arr-left"><i class="bi bi-arrow-left"></i></span>
                    <span class="arr-right"><i class="bi bi-arrow-right"></i></span>
                </div>
                <div>
                    <small class="shoe-num">01</small>
                    <div class="pagination">
                        <span class="pag pag-active"></span>
                        <span class="pag"></span>
                        <span class="pag"></span>
                    </div>
                    <small class="shoe-total">03</small>
                </div>
            </div>
            <div class="cart">
                <button>add to cart</button>
                <i class="bi bi-heart"></i>
            </div>
        </section>
    </div>

    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/javascript/details-product.js"></script>
</body>
</html>