<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/web/footer.css">
    <link rel="stylesheet" href="/stylesheets/web/home-page.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="main-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Product</a>
                    <ul class="sub-menu">
                        <li><a href="#">Men's Shoes</a>
                            <ul class="sub-menu">
                                <li><a href="#">Sport Shoes</a></li>
                                <li><a href="#">Sport Shoes</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Women's shoes</a>
                            <ul class="sub-menu">
                                <li><a href="#">Sport Shoes</a></li>
                                <li><a href="#">Sport Shoes</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Home</a></li>
                <li><a href="/view/web/contact/contact.html">Contact</a></li>
            </ul>
        </nav>
        <div class="logo">
            <i class="fas fa-crown"></i>
            <span class="logo-text">mjstk</span>
        </div>
    
        <div class="search">
            <i class="bi bi-search"></i>
        </div>
    
        <div class="cart">
            <i class="bi bi-cart3"></i>
        </div>
    
        <div class="profile-pic">
            <img src="/assets/images/profile-pic.jpeg" alt="Photo by Axel Eres on Unsplash">
        </div>
        
    
    </header>
    <main>
        <div>
            <h6 class="text-uppercase">// Contact details</h6>
            <h2>Contact us</h2>
            <p>Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days. We will be happy to answer your questions.</p>
        </div>
        <div class="form-contact">
            <div class="form-content">
                <div class="form-title">
                    <h3>Ready to Get Started ?</h3>
                    <p>You email address will not be published.Required fields are marked *</p>
                </div>
                <div class="info-group">
                    <div class="info-item"></div>
                </div>
                <form action="">
                    <div class="form-group">
                        <input type="email" class="form-control" id="contactInputName">
                        <label for="contactInputName">Your Name</label>
                        
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="contactInputEmail">
                        <label for="contactInputEmail">Password</label>

                      </div>
                    <div class="form-group">
                        
                        <textarea class="form-control" id="messageTextarea" rows="3"></textarea>
                        <label for="messageTextarea">Example textarea</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Send Message</button>
                </form>
            </div>
        </div>
        <div class="container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.920530757348!2d106.70550345070151!3d10.81876260067474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175294be7133289%3A0xba0d6479ca825690!2sMindX%20Technology%20School!5e0!3m2!1svi!2s!4v1672822616746!5m2!1svi!2s" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
    <footer class="footer-area">
        <div class="container">
            <div class="footer">
                <div class="single-footer">
                    <h4>about us</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quo corrupti, fuga quia laudantium dolorem perspiciatis delectus tempora rem facilis ipsa vero explicabo quis alias commodi illum repellat! Suscipit, beatae!</p>
                    <div class="footer-social">
                        <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                        <a href=""><i class="fa-brands fa-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
                <div class="single-footer">
                    <h4>quick links</h4>
                    <ul>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> home</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> about</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i>  services</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> blog</a></li>
                        <li><a href=""><i class="fa-solid fa-caret-right"></i> contact</a></li>
                    </ul>
                </div>
                <div class="single-footer">
                    <h4>opening hours</h4>
                    <ul>
                        <li><i class="fa-solid fa-caret-right"></i> monday: 10.00 - 18.00</li>
                        <li><i class="fa-solid fa-caret-right"></i> tuesday: 10.00 - 18.00</li>
                        <li><i class="fa-solid fa-caret-right"></i> wednesday: 10.00 - 18.00</li>
                        <li><i class="fa-solid fa-caret-right"></i> friday: 10.00 - 18.00</li>
                        <li><i class="fa-solid fa-caret-right"></i> saturday: 10:00 - 14:00</li>
                        <li><i class="fa-solid fa-caret-right"></i> sunday : closed Day</li>
                    </ul>
                </div>
                <div class="single-footer">
                    <h4>contact us</h4>
                    <ul>
                        <li><a href=""><i class="fa-solid fa-location-dot"></i> 44 North Street, Melbourne, Australia</a></li>
                        <li><a href="tel:+613 4589 1207"><i class="fa-solid fa-phone"></i> +613 4589 1207</a></li>
                        <li><a href="milto:info@domainname.com"><i class="fa-solid fa-envelope"></i> info@domainname.com</a></li>
                        <li><a href=""><i class="fa-solid fa-globe"></i> www.domainname.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <section class="footer-bottom-area">
        <div class="container">
            <div class="footer-bottom">
                <div class="copy">
                    <p>&copy; 2022 all rights reserved.</p>
                </div>
                <div class="footer-menu">
                    <a href="">privacy policy</a>
                    <a href="">terms & conditions</a>
                    <a href="">disclaimer</a>
                </div>
            </div>
        </div>
    </section>

</body>
</html>