<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/web/style.css">    
    <link rel="stylesheet" href="/stylesheets/web/header-top.css">
    <link rel="stylesheet" href="/stylesheets/web/footer.css">
    <link rel="stylesheet" href="/stylesheets/web/home-page.css">
    <link rel="stylesheet" href="/stylesheets/web/contact.css">
    <title>Contact</title>
</head>
<body id="contact-page">
    
    <main>
        <div class="container">
            <div class="contact-main row">
                <div class="contact-info col-lg-6 col-md-6 col-12 mb-4">
                    <div class="info-title">
                        <h6 class="text-uppercase mb-3">// Chi tiết liên hệ</h6>
                        <h2 class="mb-2">Liên hệ chúng tôi</h2>
                        <p>Gọi hoặc ghé thăm bất cứ lúc nào, chúng tôi sẽ cố gắng trả lời tất cả các câu hỏi sớm nhất. Rất hân hạnh được trả lời câu hỏi của bạn.</p>
                    </div>
                    <div class="info-group">
                        <div class="info-item">
                            <div class="item-icon">
                                <i class="bi bi-geo-alt"></i>
                            </div>
                            <div class="item-text">
                                <h5>Địa chỉ :</h5>
                                <p>- 44 Bạch Đằng, p.22, Bình Thạnh</p>
                                <p>- 20/30 Trần Não, P.An Phú, Tp.Thủ</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="item-icon">
                                <i class="bi bi-telephone"></i>
                            </div>
                            <div class="item-text">
                                <h5>Điện thoại :</h5>
                                <p>+84 2877717789</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="item-icon">
                                <i class="bi bi-envelope"></i>
                            </div>
                            <div class="item-text">
                                <h5>Email :</h5>
                                <p>info@sneakerplug.com</p>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="item-icon">
                                <i class="bi bi-globe-americas"></i>
                            </div>
                            <div class="item-text">
                                <h5>Website :</h5>
                                <p>www.sneakerplug.com</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="contact-form col-lg-6 col-md-6 col-12 mb-4">
                    <div class="form-content">
                        <div class="form-title">
                            <h2 class="mb-2">Bạn sẵn sàng để bắt đầu ?</h2>
                            <p>Địa chỉ email của bạn sẽ được bảo mật.Các trường bắt buộc được đánh dấu *</p>
                        </div>
                    
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control" id="contactInputName" required>
                                <label for="contactInputName">Tên của bạn *</label>
                                
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="contactInputEmail" required>
                                <label >Email của bạn *</label>
                                
                            </div>
                            <div class="form-group">
                                
                                <textarea class="form-control" id="messageTextarea" rows="3" required></textarea>
                                <label for="messageTextarea">Tin nhắn...</label>
                            </div>
                            <button type="submit" class="btn btn-contact">Gửi tin nhắn</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="google-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.920530757348!2d106.70550345070151!3d10.81876260067474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175294be7133289%3A0xba0d6479ca825690!2sMindX%20Technology%20School!5e0!3m2!1svi!2s!4v1672822616746!5m2!1svi!2s" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </main>
    <footer class="footer-area d-flex flex-column justify-content-center align-items-center">
        <div class="container">
            

            <div class="footer-logo d-flex justify-content-center align-items-center">
                <img src="/assets/icons/logo-shoe.png" alt="">
                <div class="logo-text">
                    <h2 class="shop-name">SneakerPlug</h2>
                    <p class="slogan">Mỗi bước nhỏ đều dẫn tới thành công</p>
                </div>
            </div>
            <div class="w-100 d-flex justify-content-center mb-3">
                <img style="width: 60%;" src="/assets/images/Vector.png" alt="">
            </div>
            <section class="subscribe-area mb-5">
                
                <div class="subscribe d-flex justify-content-center align-items-center row">
                    <div class="subscribe-title d-flex justify-content-start align-items-start flex-column col-lg-5">
                        <h5 class="mb-3">Đăng ký ngay !!!</h5>
                        <p> ...để nhận <span>Voucher</span> và <span>thông tin khuyến mãi</span> từ chúng tôi</p>
                    </div>
                    <form  action="" class="col-lg-7">
                        <div class="form-group d-flex align-items-center">
                            <input type="text" class="form-control" id="subscribeEmail" placeholder="Nhập Email của bạn">
                            <button type="submit" class=" btn btn-subscribe ">Đăng ký</button>                          
                        </div>  
                    </form>
                </div>              
            </section>
            <div class="footer-content row">
                <div class="single-footer col-lg-3 col-md-6 col-sm-6 col-12">
                    <h4>Giới thiệu</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, quo corrupti, fuga quia laudantium dolorem .</p>
                    <div class="footer-social">
                        <a href="#"><i class="bi bi-facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter"></i></a>
                        <a href="#"><i class="bi bi-linkedin"></i></a>
                        <a href="#"><i class="bi bi-youtube"></i></a>
                    </div>
                </div>
                <div class="footer-opening-hours single-footer col-lg-3 col-md-6 col-sm-6 col-12">
                    <h4>Giờ mở cửa</h4>
                    <ul>
                        <li><i class="bi bi-clock"></i> Monday - Saturday: <span>9.00 - 21.00</span></li>        
                        <li><i class="bi bi-clock"></i> Sunday : <span>9.00 - 19.00</span></li>
                    </ul>
                </div>
                <div class="footer-links single-footer col-lg-3 col-md-6 col-sm-6 col-12">
                    <h4>Link nhanh</h4>
                    <ul>
                        <li><a href="/view/web/index.html"><i class="link-icon bi bi-arrow-right"></i>Home</a></li>
                        <li><a href=""><i class="link-icon bi bi-arrow-right"></i>About</a></li>
                        <li><a href="/view/web/all-product.html"><i class="link-icon bi bi-arrow-right"></i>Product</a></li>
                        <li><a href=""><i class="link-icon bi bi-arrow-right"></i>Blog</a></li>
                        <li><a href="/view/web/contact.html"><i class="link-icon bi bi-arrow-right"></i>Contact</a></li>
                    </ul>
                </div>
                
                <div class=" footer-contact single-footer col-lg-3 col-md-6 col-sm-6 col-12">
                    <h4>Liên hệ</h4>
                    <ul>
                        <li>
                            <div class="agency-1">
                                <p>- Chi nhánh 1</p>
                                <ul>
                                    <li><i class="bi bi-geo-alt"></i>44 Bạch Đằng, p.22, Bình Thạnh</li>
                                    <li><i class="bi bi-telephone"></i></i>+613 4589 1207</li>
                                </ul>
                            </div>
                            <div class="agency-2">
                                <p>- Chi nhánh 2</p>
                                <ul>
                                    <li><i class="bi bi-geo-alt"></i>20/30 Trần Não, P.An Phú, Tp.Thủ Đức</li>
                                    <li><i class="bi bi-telephone"></i></i>+613 4589 1207</li>
                                </ul>
                            </div>
                        </li>
                        <li><i class="bi bi-envelope"></i> info@sneakerplug.com</li>
                        <li><i class="bi bi-globe-americas"></i> www.sneakerplug.com</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area mb-4">
            <div class="container">
                <div class="footer-bottom">                    
                    <p class="d-flex justify-content-center align-items-center flex-wrap"> 2022 all rights reserved.<span><a href="">Privacy policy</a></span><span><a href="">Terms & conditions</a></span><span><a href="">Disclaimer</a></span>  </p>
                                     
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>