<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/stylesheets/web/style.css">
    <link rel="stylesheet" href="/stylesheets/web/header-top.css">
    <link rel="stylesheet" href="/stylesheets/web/footer.css">
    <link rel="stylesheet" href="/stylesheets/web/details-product.css">
    <title>Details</title>
</head>
<body id="details-product">
    
    <main>
        <div class="wrapper">
            <div class="container-details row">
                <div class="bg-name-product">
                    <h1>Red Nike Jordan Max Aura 3</h1>
                </div>
                <div class="col-lg-8 col-md-8 details-content-left d-flex flex-column align-items-center">
                    <div class="image-showcase d-flex justify-content-center align-items-center flex-column">
                        <div class="big-image mb-5 d-flex justify-content-center align-items-center">
                            <div class="big-img-showcase">
                                <img src="/assets/images/products/showcase/shoe1-1/img1.png" class="big-image-1" alt="">
                                <div class="shadow"></div>
                            </div>                        
                        </div>
    
                        <div class="small-image d-flex justify-content-around align-items-center">
                            <div class="small-image-item d-flex justify-content-center align-items-center">
                                <img src="/assets/images/products/showcase/shoe1-1/img1.png" class="small-image-1" alt="">
                            </div>
                            <div class="small-image-item d-flex justify-content-center align-items-center">
                                <img src="/assets/images/products/showcase/shoe1-1/img2.png" class="small-image-1" alt="">
                            </div>
                            <div class="small-image-item d-flex justify-content-center align-items-center">
                                <img src="/assets/images/products/showcase/shoe1-1/img3.png" class="small-image-1" alt="">
                            </div>
                            <div class="small-image-item d-flex justify-content-center align-items-center">
                                <img src="/assets/images/products/showcase/shoe1-1/img4.png" class="small-image-1" alt="">
                            </div>
    
                        </div>
                    </div>
                    <div class="product-parameters mt-5">                  
                        <h5 class="product-parameters-title mb-3">THÔNG SỐ SẢN PHẨM</h5>                 
                        <p class="product-parameters-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, tenetur, inventore explicabo numquam laborum dolorum nisi libero provident rem maiores quibusdam repudiandae laboriosam maxime incidunt vero, magnam odio iusto assumenda?</p>                   
                    </div>
                    <div class="product-desc mt-5">
                        <h5 class="product-desc-title mb-3">MÔ TẢ SẢN PHẨM</h5>
                        <p class="product-desc-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate maxime nisi dicta animi. Quidem in nesciunt autem numquam amet, minima error id eius vero at aliquid laudantium reprehenderit dolorum possimus.</p>                  
                        <br>
                        <p class="product-desc-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate maxime nisi dicta animi. Quidem in nesciunt autem numquam amet, minima error id eius vero at aliquid laudantium reprehenderit dolorum possimus.</p>                  
                        <br>
                        <p class="product-desc-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate maxime nisi dicta animi. Quidem in nesciunt autem numquam amet, minima error id eius vero at aliquid laudantium reprehenderit dolorum possimus.</p>                  
                        <br>
                        <p class="product-desc-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate maxime nisi dicta animi. Quidem in nesciunt autem numquam amet, minima error id eius vero at aliquid laudantium reprehenderit dolorum possimus.</p>                  
                    </div>
    
                    
                </div>
                <div class="col-lg-4 col-md-4 details-content-right">
                    <h5 class="product-class mb-3">// Men's Shoe</h5>
                    <h2 class="product-name mb-3">Red Nike Jordan Max Aura 3</h2>
                    <p class="product-status mb-3">Tình trạng : <span>Còn hàng</span></p>
                    <h5 class="product-price mb-3">$ <span>150</span></h5>
                    <div class="promotions mb-3">
                        <div class="promotions-title">
                            Mua càng nhiều, ưu đãi càng lớn
                        </div>
                        <div class="promotions-item d-flex align-items-center">
                            <i class="bi bi-check-circle mr-2"></i>
                            <p>Freeship khi mua 2 đôi</p>
                        </div>
                        <div class="promotions-item d-flex align-items-center">
                            <i class="bi bi-check-circle mr-2"></i>
                            <p>Tặng tất theo sản phẩm(Tùy đôi)</p>
                        </div>
                        <div class="promotions-item d-flex align-items-center">
                            <i class="bi bi-check-circle mr-2"></i>
                            <p>Mua 5 đôi tặng 1 đôi</p>
                        </div>
                    </div>
                    <div class="promotions-sale d-flex align-items-center mb-5">
                        <img src="/assets/icons/coupon.png" alt="">
                        <p class="ml-2">Giảm 5% - Áp dụng cho đơn hàng lần 2.</p>
                    </div>
                    <div class="select-size">
                        <h5 class="mb-2">Chọn size :</h5>
                        <ul class="d-flex flex-wrap">
                            <li>36</li>
                            <li>37</li>
                            <li>38</li>
                            <li>39</li>
                            <li>40</li>
                            <li>41</li>
                            <li>42</li>
                            <li>43</li>
                            <li>44</li>
                            <li>45</li>
                        </ul>
                    </div>
                    <div class="select-quantity d-flex align-items-center mb-5">
                        <div class="select-quantity-title mb-2 mr-5">
                            <h5>Chọn số lượng :</h5>
                        </div>
                        <div class="select-quantity-content d-flex align-items-center">
                            <button class="btn-reduction">
                                <i class="bi bi-dash"></i>
                            </button>
                            <span>1</span>
                            <button class="btn-increase">
                                <i class="bi bi-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="action-group d-flex align-items-center justify-content-around">
                        <button class="btn-add-cart"> 
                            <p>Thêm vào giỏ hàng</p>
                        </button>
                        <button class="btn-buy">   
                            <p>Đặt mua ngay</p>
                        </button>
                    </div>
    
                </div>
        
            </div>
        </div>
    </main>
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/javascript/chaning-image.js"></script>
</body>
</html>