footer {
  background-color: #0b1e3e;
  padding-top: 80px;
}

footer .container {
  max-width: 1200px;
}
.footer-logo {
  margin: 30px 0;
}

.footer-logo img {
  width: 150px;
  height: 150px;
}
.footer-logo .slogan p{
  font-size: 14px;
  color: white;
}

.single-footer h4 {
  text-transform: capitalize;
  font-size: 22px;
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.single-footer h4:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: rgb(255,161,9);
  bottom: 0;
}
.footer-social {
  margin-top: 20px;
}
.footer-social a {
  border: 1px solid #fff;
  width: 30px;
  height: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  color: rgb(255,161,9);
}

.footer-social a:hover {
  background-color: rgb(255,161,9);
  color: #fff;
  border: 1px solid rgb(255,161,9);
}

/*<=========>*/
.footer-links a {
  display: flex;
}
.footer-links .link-icon {
  display: none;
  transition: all 0.5s ease-in-out;
}
.footer-links li:hover a{
  color: rgb(255,161,9);
}
.footer-links li:hover .link-icon{
  display: block;
}
/*<=========>*/

.footer-contact .agency-1 > p,
.footer-contact .agency-2 > p {
  font-size: 15px;
  color: #f4f4f4;
}
.footer-contact .agency-1 > ul,
.footer-contact .agency-2 > ul {
  margin-left: 20px;
}
.footer-contact li,
.footer-opening-hours span{
  color: #c9c9c9;
  font-size: 14px;
  line-height: 1.5;
}
footer li i {
  margin-right: 5px;
  color: rgb(255,161,9);
}

.footer-bottom-area span {
  margin-left: 5px;
}
