@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Merriweather:wght@300;400;700;900&family=Notable&family=Poppins:wght@100;200;300;400;500;600;700;900&family=Sirin+Stencil&display=swap');
header {
    background-image: url(/assets/images/background/bg-header.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.header-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.header-container .header-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .3);
    display: flex;

}
.header-container .header-content .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    opacity: 1;
    z-index: 9;
    pointer-events: none;
    animation: fade-out 2s forwards 1;
 }
 @keyframes fade-out {
    to{opacity: 0;}
 }
 .header-container .header-content .left-side {
    width: 25vw;
    height: 100%;
    /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
 }
 .header-container .header-content .logo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    width: 100%;
    height: 40%;
    position: relative;
 }
 .header-container .header-content .logo img {
    width: 100px;
    height: auto;
 }

 
.header-container .header-content .logo .shop-name{
    font-family: 'Londrina Outline', cursive;
    position: absolute;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    transform: rotate(-90deg);
    left: -25%;
 }
.header-container .header-content .logo .logo-right {
    position: relative;
    padding: 20px 0;
    width: 80%;

}
/* .header-container .header-content .logo::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #0b1e3e;
} */
 .header-container .header-content .logo .shop-slogan {
    text-align: center;
    font-family: 'Poppins', sans-serif;
 }
 .header-container .header-content .logo .shop-slogan p{
    padding: 5px;
    border-bottom: 3px solid #1d1d1d;
    border-left: 2px solid #FFa109;
 }

.header-container .header-content .sm-product {
    width: 100%;
    height: 40%;
 }

.header-container .header-content .sm-product-img-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.header-container .header-content .sm-product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.header-container .header-content .social-link {
    height: 20%;
    width: 100%;
}
.header-container .header-content .social-link a{
    font-size: 30px;
    margin: 10px;
    color: #c8d3e6;
}
.header-container .header-content .social-link a:hover {
    color: #FFa109;
}
.header-container .header-content .right-side {
    width: 75vw;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container .header-content .backdrop-img {
    width: 25vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    filter: blur(0.5vw);
}
.header-container .header-content .content {
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
}
.header-container .header-content .content .next-btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    border: none;
    background: none;
    outline: none;
    padding: 5px 10px;
}
.header-container .header-content .content .next-btn:hover img{
    animation: move-forward 1s linear 5;
}
@keyframes move-forward {
    100% {
        transform: translateX(10px);
    }
    0% {
        transform: translateX(0);
        
    }
}
.header-container .header-content .product-detail {
    width: 60%;
}
.header-container .header-content .product-detail .product-title {
    font-family: 'Notable', sans-serif;
    text-transform: uppercase;
}
.header-container .header-content .product-detail .product-des {
    color: #c8d3e6;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}
.header-container .header-content .product-img-container {
     width: 40%;
    height: 40vw;
    position: relative;
    overflow: hidden;
}
.header-container .header-content .product-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-container .header-content .slide::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: slide-left 1s linear 1;
}
@keyframes slide-left {
    to{
        left: 100%;
        background: rgba(255, 255, 255, 0.9);
    }
}

.header-container .header-content .slide-fade {
    pointer-events: none;
    animation: slide-fade 1s forwards 1;
}
@keyframes slide-fade {
    0%, 100% {
        opacity: 1;
    }
    45%, 60% {
        opacity: 0;
    }
}



.header-top {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}
/*<========menu=======>*/
.main-menu {

}
.main-menu .navbar-toggler {
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #FFa109;
    outline: none;
}
.main-menu .navbar-toggler span {
    position: absolute;
    width: 30px;
    height: 3px;
    border-radius: 50px;
    background-color: #c8d3e6;
    pointer-events: none;
    transition: 0.5s;
    left: 4px;
}
.main-menu .navbar-toggler .span1 {
    transform: translateY(-9px);
}
.main-menu .navbar-toggler .span3 {
    transform: translateY(9px);
}
.main-menu .navbar-toggler.rotate-span {
    border-color: #c8d3e6;
}
.main-menu .navbar-toggler.rotate-span .span1 {
    transform: rotate(45deg);
    background-color: #FFa109;
}

.main-menu .navbar-toggler.rotate-span .span2 {
    display: none;
}
.main-menu .navbar-toggler.rotate-span .span3 {
    transform: rotate(-45deg);
    background-color: #FFa109;

}

.main-menu .nav-item {
    position: relative;
}
.main-menu .nav-item .nav-link {
    color: #fff;
}
.main-menu .nav-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 5px;
    left: 50%;
    background-color: #FFa109;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}
.main-menu .nav-item:hover::after{
    width: 80%;
}

.main-menu .nav-item .dropdown-menu {
    background-color: #fff;
    border: none;
    
}

.dropdown-submenu {
    position: relative;
    padding: 5px 10px;
}
.dropdown-submenu a {
    color: #6fa6d4;
}
.dropdown-submenu:hover {
    border-left: 3px solid #FFa109;
}

.dropdown-submenu:hover .dropdown-item {
    background-color: transparent;
    color: #FFa109;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    border-radius: 0 5px 5px 5px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
    background-color: #fff;
    
}

.dropdown-submenu>a:after {
    position: absolute;
    right: 2px;
    content: "\F231";
    font-family: bootstrap-icons !important;
    font-size: 12px;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    transition: all 0.4s ease;
}
.dropdown-submenu>.dropdown-menu>.dropdown-item:hover {
    background-color: #5AAAD1;
    border-left: 2px solid #FFa109;
}
.dropdown-submenu>.dropdown-menu>.dropdown-item:hover a {
    text-decoration: none;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*<========logo=======>*/
.header-top .header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.header-top .header-logo img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}
.header-top .header-logo .shop-name {
    font-size: 20px;
}
.header-top .header-logo .slogan {
    font-size: 14px;
}
/*<======= Action ========>*/
.header-top .header-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}
/*<======= Search ========>*/
.header-top .header-action form.search {
    border: 1px solid #5AAAD1;
    border-radius: 5px;
}
.header-top .header-action form.search input {
    background: none;
    border: none;
    outline: none;
    padding: 10px 0 10px 20px;
    color: #fff;
}
.header-top .header-action form.search input:focus {
    box-shadow: none;
}
.header-top .header-action form.search input::placeholder {
    color: #c8d3e6;
}
.header-top .header-action form.search button i {
    color: #c8d3e6;
}
.header-top .header-action .search-mobile {
    display: none;
    background: none;
    border: 1px solid #5AAAD1;
    padding: 5px 5px;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
}
.header-top .header-action .search-mobile .search-extensions {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    width: 300px;
    top: 50px;
    left: 50%;
    transform: translateX(-55%);
    border: 1px solid #5AAAD1;
    border-radius: 5px;
}


.header-action .search-mobile.open-search .search-extensions {
    opacity: 1;
}


/*<======= Cart ========>*/

.header-top .header-cart {
    position: relative;
    margin: 0 10px;
    
    padding: 5px 10px;
}
.header-top .header-cart:hover {
    background-color: #FFa109;
}
.header-top .header-cart i {  
    font-size: 30px;
}
.header-top .header-cart .order-number {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 0 5px;
    background-color: #FFa109;
    border-radius: 50%;
    border: 1px solid #FFF;
    font-size: 12px;
}
.header-top .header-cart:hover .order-number {
    background-color: white;
    color: #FFa109;
}
/*<======== Profile =======>*/
.header-top .header-profile .btn-sign-in {
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid #FFa109;
    border-radius: 20px;
    color: #FFa109;
}
.header-top .header-profile .btn-sign-in:hover {
    background-color: #FFa109;
    color: #fff;
}
.header-top .header-profile .btn-sign-up {
    padding: 8px 15px;
    color: #fff;
    background-color: #FFa109;
    border-radius: 20px;
    border: none;
}
.header-top .header-profile .btn-sign-up:hover {
    color: #fff;
}
.header-top .header-profile .btn {
    color: #fff;
    padding: 0;
}
.header-top .header-profile .header-avt-user {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFa109;
    overflow: hidden;
}
.header-top .header-profile .header-avt-user img {
    width: 100%;
    height: 100%;
}
.header-top .header-profile .dropdown-menu {
    overflow: hidden;
    transform: translate3d(-90px, 64px, 0px) !important;
}
.header-top .header-profile .dropdown-menu .dropdown-item:hover {
    background-color: #c8d3e6;
}
.header-top .header-profile .dropdown-menu i {
    margin-right: 10px;
}
.header-top .header-profile .dropdown-menu .log-out i {
    color: red;
}


@media only screen and (max-width: 1199.98px) {

}
@media only screen and (max-width: 991.98px) {
    .header-top .main-menu {
        left: 5%;
        
    }
    .main-menu .dropdown-toggle::after {
        transform: rotate(-90deg);
    }
    .main-menu .navbar-nav {
        background-color: #fff;
        margin-top: 20px;
        position: relative;
    }
    .main-menu .navbar-nav::after {
        content: "";
        width: 15px;
        height: 15px;
        background-color: #fff;
        position: absolute;
        top: -7px;
        left: 13px;
        transform: rotate(45deg);
        z-index: -1;
    }
    .main-menu .dropdown-toggle::after {
        transform: none;
    }
    .main-menu .nav-item .nav-link {
        color: #FFa109;
    }
    .main-menu .navbar-nav .dropdown-menu {
        background-color: transparent;
        position: relative;
        left: 10px;
        top: 0;
    }
    .dropdown-submenu a {
        color: #1d1d1d;
    }
    .dropdown-submenu:hover {
        background-color: transparent;
    }
    .dropdown-submenu .dropdown-item {
        padding: 10px;
    }
    .dropdown-submenu:hover .dropdown-item {
        color: #fff;
    }
    .dropdown-submenu:hover .dropdown-item::after {
        transform: rotate(90deg);
    }
    .main-menu .nav-item {
        text-align: left;
        padding: 10px 20px;
    }
    .main-menu .nav-item::after {
        display: none;
    }
    .main-menu .nav-item:hover {
        border-left: 5px solid #FFa109; 
        background-color: #5AAAD1;
    }
    .main-menu .nav-item:hover>a {
        color: #FFa109;
    }

    .dropdown-submenu:hover>.dropdown-menu {
        position: relative;
    }
    .header-top .header-action {
        right: 5%;
    }
    .header-top .header-action .search-mobile {
        display: block;
    }
    .header-top .header-action .search-web {
        display: none;
    }
    .header-top .header-profile .header-avt-user {
        width: 40px;
        height: 40px;
    }

}
@media only screen and (max-width: 767.98px) {
    .header-container .header-content {
        flex-direction: column;
        
    }
    .header-container .header-content .left-side {
        flex-direction:row;
        width: 100%;
    }
    .header-container .header-content .social-link {
        flex-direction: column;
    }
    .header-container .header-content .right-side {
        width: 100%;
    }
    .header-top .header-profile .btn-sign-in,
    .header-top .header-profile .btn-sign-up {
        padding: 5px 10px;
    }
    .header-top .header-logo {
        left: 40%;
    }
}

@media only screen and (max-width: 575.89px) {
    .header-top .header-logo {
        top: 60%;
    }
 
}