.header-topbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 0 30px;
    font-size: 20px;
    z-index: 1;
    align-items: center;
}
header {
  width: 100%;
  height: 100vh;
}
.header-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.header-logo {
  margin: 30px 0;
}

.header-logo img {
  width: 150px;
  height: 150px;
}
.header-logo .slogan p{
  font-size: 14px;
  color: white;
}
.header-topbar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding: 0 30px;
  font-size: 20px;
  z-index: 1;
  align-items: center;
}
.split-container .split {
  position: absolute;
  width: 50%;
  height: 100%;
  transition: .8s all cubic-bezier(.87, .76, .33, .98);
  overflow: hidden;
}
.split.left {
  left: 0;
  background: rgb(0,135,204);
  background: linear-gradient(90deg, rgba(0,135,204,1) 0%, rgb(20, 148, 212) 100%);
}
.split.right {
  right: 0;
  background: rgb(255,161,9);
  background: linear-gradient(90deg, rgba(255,161,9,1) 0%, rgba(203,129,10,1) 100%);
}

.hoverLeft .split.left,
.hoverRight .split.right {
  width: 65%;
}

.hoverLeft .split.right,
.hoverRight .split.left {
  width: 35%;
}

.split.left .bi-arrow-left-circle,
.split.right .bi-arrow-right-circle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    margin: 0 1rem;
}

.split.left .bi-arrow-left-circle{
  right: 0;
}

.skateboard {
  position: absolute;
  width: 85%;
  max-height: 95vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shoes {
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  position: absolute;
  width: 80vh;
  max-width: 600px;
  margin-left: 2rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s cubic-bezier(.87, .76, .33, .98);
}

.hoverLeft .split.right .text{
  margin-left: 3rem;
}

.text .title {
  color: #fff;
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.text .subtitle {
  font-family: 'Exb FLF', sans-serif;
  color: #fff;
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 1;
  margin-top: 1.75rem;
  margin-bottom: -30px !important;
}

.text .desc {
  font-size: .8rem;
  color: #fff;
  font-weight: 300;
  line-height: 2;
  margin: 10px 0 30px 0;
  width: 400px;
}

.text .button {
  color: #fff;
  font-size: .8rem;
  font-weight: 300;
  letter-spacing: 1px;
  border: 2px solid #fff;
  background: transparent;
  padding: 13px 30px 15px 30px;
  cursor: pointer;
  outline: none;
  border-radius: 100px;
}

.text .button .fa-long-arrow-alt-right{    
  margin-left: 25px;
  transform: scale(2.5,1);
}

.hoverLeft .split.left .text {
  transform: translate(-40%, -50%);
}

.hoverLeft .split.right .text {
  transform: translate(-40%, -50%);
}

.hoverRight .split.right .text {
  transform: translate(-60%, -50%);
}

.hoverRight .split.left .text {
  transform: translate(-45%, -50%);
}
header nav ul {
  display: inline-flex;
  list-style: none;
}
header .main-menu>li{
  position: relative;
}
header .main-menu ul.sub-menu {
  position: absolute;
  display: none;
  background-color: rgba(255,255,255, 0.2);
  margin-top: 10px;
}
header .main-menu ul.sub-menu ul.sub-menu {
  display: none;
  right: -100%;
  top: 0;
}
header nav ul li {
  padding: 5px 10px;
}

.main-menu li.has-child::after {
  content: "\F282";
  font-family:'Montserrat', sans-serif;
  position: relative;

  

}
li.has-child:hover>.sub-menu {
  display: block;
}
header nav ul li a {
  color: white;
  font-size: 18px;
}

/* header ul li a {
  color: rgb(255,161,9);
} */
  
.navbar > div {
    padding: 0 30px;
}
  
.menu, 
.logo,
.search,
.cart{
    font-size: 1.2rem;
    cursor: pointer;
}

.fa-bars{
    transform: scale(1.6,1);
}

.cart::after{
    content: "";
    font-size: .6rem;
    text-align: center;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #0087CC;
    margin-left: -2px !important;
    padding: 0;
    border-radius: 50%;
    transform: translateY(-5px);
}

.profile-pic img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}





.page-chevron {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    height: 80px;
    align-items: center;
  }
  
  .page-indicator {
    font-weight: 400;
    padding: 0 20px;
  }
  
  .page-indicator span::after {
    content: "";
    display: inline-block;
    width: 100px;
    margin: 0 10px;
    border: .2px solid #fff;

    transform: translateY(-5px);
  }
  
  .chevronLR {
    padding: 0 2.5rem;
  }
  
  .chevronLR .bi-arrow-left-circle,
  .chevronLR .bi-arrow-right-circle{
    font-size: 1.4rem;
  }

  .chevronLR .bi-arrow-left-circle{
      margin-right: 1.3rem;
  }

  .chevronLR .bi-arrow-right-circle{
    margin-right: 2rem;
}
/* <==========Main=========> */
main .ps-features {
  padding: 40px 0;
}

main .ps-features .ps-container {
  max-width: 1440px;
  margin: 0 auto;
  
}
main .ps-features .ps-container .ps-box {
  padding: 20px 10px;
}
main .ps-features .ps-container .ps-box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .ps-features .ps-container .ps-box i {
  font-size: 36px;
  color: #000;
}
main .ps-features .ps-container .ps-box h2 {
  font-size: 24px;
  color: rgb(255,161,9);
}
main .ps-features .ps-container .ps-box h6 {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}
main .ps-features .ps-container .ps-box p {
  font-size: 15px;
  color: #6D6D6D;
  text-align: center;
}

/* main-product */
main .main-product {
  padding: 50px 0;
}

main .main-product .showcase-product .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
main .main-product .showcase-product .grid-container .grid-item {
  border-radius: 10px;
  padding: 10px 10px 10px 30px;
  height: 300px;
  background-color: #0087CC;
}
main .main-product .showcase-product .grid-container .grid-item img {
  max-width: 200px;
  height: auto;
}
main .main-product .title {
  position: relative;
}
main .main-product .new-product .title h1,
main .main-product .hot-product .title h1,
main .main-product .discount-product .title h1{
  color: #f4f4f4;
  font-size: 90px;
}
main .main-product .new-product .title h4,
main .main-product .hot-product .title h4,
main .main-product .discount-product .title h4{
  color: #1D1D1D;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}

main .main-product .btn-product {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-product .btn-product a {
  padding: 10px 20px;
  border: 1px solid #6D6D6D;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  position: relative;
  overflow: hidden;
}
main .main-product .btn-product a::before {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background: #c8d3e6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
  transition: all 0.6s ease;
}
main .main-product .btn-product a h6 {
  color: rgb(255,161,9);
}
main .main-product .btn-product a p {
  color: #6D6D6D;
}
main .main-product .btn-product a:hover::before {
  height: 500%;
}
main .main-product .btn-product a:hover {
  
  text-decoration: none;
}

.step-progress {
  background-color: #0087CC;
}

/* <======subscribe-area======> */
.subscribe-area .subscribe{
  width: 80%;
  position: relative;
  bottom: -80px;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 20px 0;
}
.subscribe-area .subscribe h4{
  color: rgb(255,161,9);
}
.subscribe-area .subscribe form {
  width: 80%;
}
.subscribe-area .form-group {
  border: 1px solid #6D6D6D;
  border-radius: 10px;
  width: 80%;
  margin: 20px 0;
}
.subscribe-area input {
  width: 80% !important;
  background: none;
  border: none;
  outline: none;
  color: #6D6D6D;
  padding: 20px 10px;
  
}
.subscribe-area .form-control:focus {
  border-color: transparent;
}
.subscribe-area .btn-subscribe {
  width: 20%;
  border-radius: 10px;
  color: #fff;
  background-color: #FFa109;
  padding: 10px;
}
@media only screen and (max-width: 768px) {
  main .main-product .showcase-product .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 576px) {
  main .main-product .showcase-product .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}