header {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 0 30px;
    font-size: 20px;
    z-index: 1;
    align-items: center;
}
header nav ul {
  display: inline-flex;
  list-style: none;
}
/* header .main-menu>li{
  position: relative;
} */
header .main-menu ul.sub-menu {
  display: none;
  background-color: rgba(255,255,255, 0.2);
  margin-top: 10px;
}
header .main-menu ul.sub-menu ul.sub-menu {
  display: none;
  right: -100%;
  top: 0;
}
header nav ul li {
  padding: 5px 10px;
}

header .main-menu>li.has-child::after {
  content: "";
  width: 20px;
  color: red;

  

}
li.has-child:hover>.sub-menu {
  display: block;
}
header nav ul li a {
  color: white;
  font-size: 18px;
}

/* header ul li a {
  color: rgb(255,161,9);
} */
  
.navbar > div {
    padding: 0 30px;
}
  
.menu, 
.logo,
.search,
.cart{
    font-size: 1.2rem;
    cursor: pointer;
}

.fa-bars{
    transform: scale(1.6,1);
}

.cart::after{
    content: "";
    font-size: .6rem;
    text-align: center;
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: #0087CC;
    margin-left: -2px !important;
    padding: 0;
    border-radius: 50%;
    transform: translateY(-5px);
}

.logo {
    display: flex;
    margin: 0 auto 0 36%;
}
.logo .logo-text{
    font-family: 'Exb FLF', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0 auto 10px;
}

.profile-pic img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

/*================MAIN SECTION================*/
.main {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .split {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: .8s all cubic-bezier(.87, .76, .33, .98);
    overflow: hidden;
  }
  .split.left {
    left: 0;
    background: rgb(0,135,204);
    background: linear-gradient(90deg, rgba(0,135,204,1) 0%, rgb(20, 148, 212) 100%);
  }
  .split.right {
    right: 0;
    background: rgb(255,161,9);
background: linear-gradient(90deg, rgba(255,161,9,1) 0%, rgba(203,129,10,1) 100%);
  }
  
  .hoverLeft .split.left,
  .hoverRight .split.right {
    width: 65%;
  }
  
  .hoverLeft .split.right,
  .hoverRight .split.left {
    width: 35%;
  }
  
  .split.left .bi-arrow-left-circle,
  .split.right .bi-arrow-right-circle{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 1.5rem;
      margin: 0 1rem;
  }

  .split.left .bi-arrow-left-circle{
    right: 0;
  }

  .skateboard {
    position: absolute;
    width: 85%;
    max-height: 95vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .shoes {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .text {
    position: absolute;
    width: 80vh;
    max-width: 600px;
    margin-left: 2rem;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s cubic-bezier(.87, .76, .33, .98);
  }
  
.hoverLeft .split.right .text{
    margin-left: 3rem;
}

  .text .title {
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  
  .text .subtitle {
    font-family: 'Exb FLF', sans-serif;
    color: #fff;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 1;
    margin-top: 1.75rem;
    margin-bottom: -30px !important;
  }
  
  .text .desc {
    font-size: .8rem;
    color: #fff;
    font-weight: 300;
    line-height: 2;
    margin: 10px 0 30px 0;
    width: 400px;
  }
  
  .text .button {
    color: #fff;
    font-size: .8rem;
    font-weight: 300;
    letter-spacing: 1px;
    border: 2px solid #fff;
    background: transparent;
    padding: 13px 30px 15px 30px;
    cursor: pointer;
    outline: none;
    border-radius: 100px;
  }

  .text .button .fa-long-arrow-alt-right{    
    margin-left: 25px;
    transform: scale(2.5,1);
  }
  
  .hoverLeft .split.left .text {
    transform: translate(-40%, -50%);
  }
  
  .hoverLeft .split.right .text {
    transform: translate(-40%, -50%);
  }
  
  .hoverRight .split.right .text {
    transform: translate(-60%, -50%);
  }
  
  .hoverRight .split.left .text {
    transform: translate(-45%, -50%);
  }

/*================PAGE-NAVIGATION SELECTOR================*/
.page-chevron {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 0;
    height: 80px;
    align-items: center;
  }
  
  .page-indicator {
    font-weight: 400;
    padding: 0 20px;
  }
  
  .page-indicator span::after {
    content: "";
    display: inline-block;
    width: 100px;
    margin: 0 10px;
    border: .2px solid #fff;

    transform: translateY(-5px);
  }
  
  .chevronLR {
    padding: 0 2.5rem;
  }
  
  .chevronLR .bi-arrow-left-circle,
  .chevronLR .bi-arrow-right-circle{
    font-size: 1.4rem;
  }

  .chevronLR .bi-arrow-left-circle{
      margin-right: 1.3rem;
  }

  .chevronLR .bi-arrow-right-circle{
    margin-right: 2rem;
}
/* footer */
img{
  max-width: 100%;
}
a{
  text-decoration: none;
  color: #fff;
}
ul{
  list-style: none;
}



.subscribe {
	border: 3px solid #ff660e;
	border-radius: 40px;
	text-align: center;
	padding: 60px 0 80px;
	margin-top: 90px;
	background-color: #fff;
}
.subscribe h4 {
  text-transform: uppercase;
  font-size: 35px;
}
.subscribe p {
  font-style: italic;
  margin-bottom: 30px;
}
.subscribe input {
  width: 100%;
  padding: 20px;
  border: 0;
  background-color: #f4f4f4;
  border-radius: 10px;
  font-size: 20px;
}
.subscribe form {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.subscribe input[type="submit"] {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  background-color: #ff660e;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 20px 40px;
}
