/* <==========Main=========> */

main .ps-features {
  padding: 40px 0;
}

main .ps-features .ps-container {
  max-width: 1440px;
  margin: 0 auto;
  
}
main .ps-features .ps-container .ps-box {
  padding: 20px 10px;
}
main .ps-features .ps-container .ps-box:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
main .ps-features .ps-container .ps-box i {
  font-size: 36px;
  color: #000;
}
main .ps-features .ps-container .ps-box h2 {
  font-size: 24px;
  color: rgb(255,161,9);
}
main .ps-features .ps-container .ps-box h6 {
  font-size: 16px;
  color: #000;
  margin-bottom: 10px;
}
main .ps-features .ps-container .ps-box p {
  font-size: 15px;
  color: #6D6D6D;
  text-align: center;
}

/* main-product */
main .modal-dialog {
  max-width: 80%;
}
.shopping-bag .bag-header {
  padding: 20px;
  background-color: #0b1e3e;
}
.shopping-bag .bag-header .bag-header-logo img{
  width: 50px;
  height: auto;
}
.shopping-bag .bag-header .btn-close {
  color: #fff;
}
.shopping-bag .bag-body {
  margin: 20px 0;
  padding: 0 20px;
}
.shopping-bag .bag-body .bag-title {
  font-size: 50px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 300;
}
.shopping-bag .bag-body .bag-title span {
  font-weight:bold;
}
.shopping-bag .bag-body .bag-tab th,
.shopping-bag .bag-body .bag-tab td{
  text-align: center;
  vertical-align: middle;
}
.shopping-bag .bag-body .bag-tab img {
  width: 70px;
  height: auto;
}

.shopping-bag .bag-body .bag-tab .product-quantity .btn-reduction,
.shopping-bag .bag-body .bag-tab .product-quantity .btn-increase {
  border: none;
  background: none;
}
.shopping-bag .bag-body .bag-tab .product-quantity .btn-reduction i,
.shopping-bag .bag-body .bag-tab .product-quantity .btn-increase i{
  font-weight: 900;
  font-size: 18px;
}
.shopping-bag .bag-body .bag-tab .product-quantity .btn-reduction:hover i,
.shopping-bag .bag-body .bag-tab .product-quantity .btn-increase:hover i {
  color: #FFa109;
}
.shopping-bag .bag-body .bag-tab .product-quantity span{
  padding: 5px 10px;
  border: 1px solid #c8d3e6;
  border-radius: 5px;
}
.shopping-bag .bag-body .bag-tab .product-price span{
  font-size: 18px;
  color: #FFa109;
}
.shopping-bag .bag-body .bag-tab .price-total .price-total-title {
  text-align: end;
  font-size: 20px;
  font-weight: bold;
}
.shopping-bag .bag-body .bag-tab .price-total .price-total-number {
  font-size: 20px;
  font-weight: bold;
}
.shopping-bag .bag-body .bag-tab .price-total .price-total-number span {
  font-size: 24px;
}
.shopping-bag .bag-body .bag-tab .btn-remove {
  border: none;
  background: none;
  padding: 5px;
}
.shopping-bag .bag-body .bag-tab .btn-remove:hover {
  border: 1px solid red;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
}
.shopping-bag .bag-body .bag-tab .btn-remove i{
  color: #c8d3e6;
  font-size: 20px;
}
.shopping-bag .bag-body .bag-tab .btn-remove:hover i{
  color: red;
  
}
.shopping-bag .bag-footer {
  padding: 20px;
  
}
.shopping-bag .bag-footer .payment .list-card img{
  width: 70px;
}
.shopping-bag .bag-footer .payment .list-card a:hover img {
  transform: scale(1.5);
}
.shopping-bag .bag-footer .payment .text {
  font-size: 14px;
  color: #000;
  font-weight: bolder;
}
.shopping-bag .bag-footer .btn-action .btn {
  border-radius: 20px;
  background-color: #0087CC;
  padding: 10px 20px;
}
.shopping-bag .bag-footer .btn-action .btn:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  color: #FFa109;
}

main .main-product {
  padding: 50px 0;
}


main .main-product .title {
  position: relative;
  
}
main .main-product .new-product .title h1,
main .main-product .hot-product .title h1,
main .main-product .discount-product .title h1{
  color: #e9e9e9;
  font-size: 90px;
}
main .main-product .new-product .title h4,
main .main-product .hot-product .title h4,
main .main-product .discount-product .title h4{
  color: #1D1D1D;
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}



main .main-product .btn-product {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .main-product .btn-product a {
  padding: 10px 20px;
  border: 1px solid #6D6D6D;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  position: relative;
  overflow: hidden;
}
main .main-product .btn-product a::before {
  content: "";
  width: 100%;
  height: 0;
  position: absolute;
  background: #c8d3e6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  z-index: -1;
  transition: all 0.6s ease;
}
main .main-product .btn-product a h6 {
  color: rgb(255,161,9);
}
main .main-product .btn-product a p {
  color: #6D6D6D;
}
main .main-product .btn-product a:hover::before {
  height: 500%;
}
main .main-product .btn-product a:hover {
  
  text-decoration: none;
}

.step-progress {
  background-color: #0087CC;
}

/* <======subscribe-area======> */
.subscribe-area .subscribe{
  width: 80%;
  position: relative;
  bottom: -80px;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 20px 0;
}
.subscribe-area .subscribe h4{
  color: rgb(255,161,9);
  text-align: center;
}
.subscribe-area .subscribe form {
  width: 80%;
}
.subscribe-area .form-group {
  border: 1px solid #6D6D6D;
  border-radius: 10px;
  width: 80%;
  margin: 20px 0;
}
.subscribe-area input {
  width: 80% !important;
  background: none;
  border: none;
  outline: none;
  color: #6D6D6D;
  padding: 20px 10px;
  
}
.subscribe-area .form-control:focus {
  border-color: transparent;
}
.subscribe-area .btn-subscribe {
  width: 20%;
  border-radius: 10px;
  color: #fff;
  background-color: #FFa109;
  padding: 10px;
}

/*<======== Responsive ========> */
@media (max-width: 1199.98px) {

}
@media (max-width: 991.98px) {

}
@media only screen and (max-width: 767.98px) {
  main .main-product .showcase-product .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
}

@media only screen and (max-width: 575.89px) {
  main .main-product .new-product .title h1,
  main .main-product .hot-product .title h1,
  main .main-product .discount-product .title h1{
    font-size: 60px;
  }
  main .main-product .showcase-product .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
  }
}