body {
    background-color: cadetblue !important;
}

.nav {
    position: relative;
    /* background-color: #fff; */
    padding: 20px;
    transition: 0.5s;
    border-radius: 50px; 
    overflow: hidden;
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
}
.nav input {
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: 0;
}

.nav span {
    position: absolute;
    left: 30px;
    width: 30px;
    height: 4px;
    border-radius: 50px;
    background-color: #666;
    pointer-events: none;
    transition: 0.5s;
}

.nav input:checked ~ span {
    background-color: #f974a1;
}

.nav span:nth-child(2) {
    transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
    transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.main-menu {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

.nav input:checked ~ .main-menu {
    width: 450px;
}


.main-menu .nav-item {
    position: relative;
}
.main-menu .nav-item .nav-link {
    color: #000;
}
.main-menu .nav-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    top: 0;
    left: 50%;
    background-color: #12d8f5;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}
.main-menu .nav-item:hover::after{
    width: 60%;
}
.dropdown-submenu {
    position: relative;
    
}
.dropdown-submenu .dropdown-item:hover {
    background-color: #c8d3e6;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}